 <main>
 <form name="formteste" action='Url.Action("Login", "Cliente")' method="Post">
                <h1>Login</h1>

                <div class="email">
                    <input type="email" name="email" placeholder="Informe seu e-mail" required="required">
                </div>

                <div class="senha">
                    <input type="password" name="senha" placeholder="Informe sua senha" required="required">
                </div>

                <div class="entrar">
                    <input type="submit" name="entrar" value="Entrar">
                </div>

                <div id="link-cadastro">
                <a href='@Url.Action("Home", "Cadastro")'>Quero me cadastrar!</a>
            </div>
                
            </form>

            <p>Fique tranquilo, nosso site é seguro!!</p>
        <p>Não possui uma conta?? <a href="Cadastro.html">Criar uma conta!</a></p>
        </main>